*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
}
html{
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
    background: var(--primary-dark);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: auto;
    background: var(--header);
}
header h1{
    display: block;
    color: var(--primary-yellow);
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}
.main{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.scoreboard{
    text-align: center;
    width: 100%;
    height: 70%;
    margin-top: 80px;
    color: var(--primary-light);
    font-size: 20px;
}
.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 20px 0;
}
#title{
    margin-top: 10px;
}
.score-container .sign{
    font-size: 130px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 30%;
    margin-top: 100px;
}
.option{
    background: var(--secondary-dark);
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.sign{
    font-size: 90px;
}
.modal-container{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    z-index: 2;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.modal{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    color: #ddd;
    background: var(--primary-dark);
    border: var(--primary-yellow) solid 2px;
    border-radius: 10px;

}
.modal-container.show{
    display: flex;
    opacity: 1;
}
#restart-button{
    width: 90px;
    height: 50px;
    margin-top: 20px;
    font-size: 1em;
}
.footer{
    position: absolute;
    width: 100%;
    height: 10%;
    color: #ddd;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
i{
    cursor: pointer;
    color: #ddd;
    transition: all 0.5s;
}
.footer a{
    margin-left: 10px;
    transition: all 0.5s;
}
.footer a:hover{
    opacity: 1;
    transform: rotate(360deg);
    scale: 1.2;
    
}
  
@media(width <= 425px){
    .buttons{
        width: 80%;
    }
    .option{
        width: 100px;
        height: 100px;
    }
    .sign{
        font-size: 50px;

    }
}